.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#0c3b1b, #000000);
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 90%; /* Reduce el tamaño base globalmente */
}

section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}